.map{
    width: 30%;
    height: 350px;
    margin-top: 20px;
    position: absolute;
    right: 20px;
    padding: 5px;
}
.mapPLot{
    width: 100%;
    height: 100%;
}
.email{
    width: 100%;
    height: 30px;
    margin-top: 5%;
}
.subscribe{
    background-color: red;
    border: none;
    color: white;
    margin-left: 2%;
}